*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
.contenedor-principal{
    background-color: #666;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
    min-height: 85vh;
    background-repeat: no-repeat;


}
.tarjeta{
    width: 500px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgba(7, 48, 35, 0.786);
    z-index: 0;
    color: gold;
}
.error{
    color: red;
    display: inline-block;
    font-size: 0.7 rem;
    margin: 0 0.3rem;

}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    all: initial;
    font: inherit;
    cursor: pointer;
    user-select: none;
    color: #fff;
    background-color: blue;
    margin: 10px 5px;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
button:hover{
    background-color: rgb(3, 204, 137);
    color: black;
    font-size: 20px;

}

.contenedor-botones{
    display: flex;
    justify-content: center;

}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 70%;
    height: 5vh;
    margin-left: 4.8rem;

}

.titulop{
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family:monospace;

    text-shadow:8px 8px 30px rgb(165, 36, 36),
    -2px 2px 20px rgb(165, 36, 36);
    color:  rgb(222, 248, 25);
}

.input-holder{
    display: flex;
    justify-content: center;
}
.img-fondo{
    width: 100%;
    position: absolute;
    object-fit: cover;
    /* height: 67.1rem; */
    
}
img {
    object-fit: cover;
}


footer{
    display: flex;
    background-color: rgb(22 134 103 / 28%);
    width: 100%;
    height: 15vh;
    text-align: center;
    font-family: monospace;
    border: 2px solid rgb(11, 14, 12);
    padding: 6px;
    text-shadow: 8px 8px 30px rgb(165 36 36), -2px 2px 20px rgb(165 36 36);
    color: rgb(222, 248, 25);
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 25px
}





